/* styles.css */
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}
.Profile-pic{
    width: 350px;
    height: 400px;
    border-radius: 10px;
}
#home h1 {
    font-size: 45px;
    font-weight: 800;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 1rem;
}

#navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

#navbar a:hover {
    background-color: #555;
}

section {
    padding: 2rem;
}

h1, h2 {
    color: #333;
}

h2 {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

.job, .degree, .project {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#contact {
    background: #f5f5f5;
    display: flex;
}

.contacts {
    flex-basis: 35%;
}

.contacts p {
    margin-top: 30px;
}

.contacts p i {
    color: #000;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #333333;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #000;
    transform: translateX(-5px);
}

#contact-form {
    display: inline-block;
    flex-basis: 60%;
    max-width: 230px;
    margin: 0 auto;
}

#contact-form label {
    margin-bottom: 0.5rem;
}

#contact-form input, #contact-form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contact-form button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact-form button:hover {
    background-color: #555;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar a {
        margin-bottom: 1rem;
    }
}
